<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Trendzz..</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Content/Custom/MainMenu.css" rel="stylesheet" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/Custom/Scrollbar.js"></script>
</head>
<body ng-app="MainPage">
    <div ng-controller="CategoryController">
        <div class="page-header">
            <div><h1 class="text-center"> Welcome to Online Trendzzz...</h1> </div>
        </div>
        <div class="pull-left leftposition border">
            <section class="list">
                <div>
                    <ul ng-repeat="Category in Categories">
                        <li>
                            <div>
                                <h1>{{Category.CategoryName}}</h1>
                                <p>
                                    <img ng-src="{{Category.src}}" />
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="pull-right rightPosition border table-responsive">
            <table class="table-bordered">
                <tr ng-repeat="Item in Items">
                    <td>
                        <div>
                            <h1>{{Item.Title}}</h1>
                            <p>
                                <img ng-src="{{Item.src}}" />

                            </p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h1>{{Item.Title}}</h1>
                            <p>
                                <img ng-src="{{Item.src}}" />
                            </p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <h1>{{Item.Title}}</h1>
                            <p>
                                <img ng-src="{{Item.src}}" />
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
